
@{
    ViewBag.Title = "Railboard";
}
<!-- Page Header Section  -->
<section id="site-page-header" class="site-page-header blog-header polygon-bg">
    <div class="overlay-effects box-pattern index-1"></div>
    <div class="container">
        <div class="page-header-content display-table-middle">
            <div class="inside-content vertical-middle">
                <h1 class="page-title text-center highlighted"><span style="color:white">Railgun.it</span> Railboard</h1>
                <h3 class="page-description text-center">The latest in real-time BI</h3>
            </div>
        </div><!--  /.page-header-content -->
        <div class="site-breadcrumb pull-right">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><a href="#">Railboard</a></li>

            </ol>
        </div>
    </div><!--  /.container -->
</section><!-- /#page-header -->

<section id="blog" class="blog-page right-sidebar section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="primary-area">
                    <div class="row">
                        <div class="post-container v2">

                            <div class="col-md-12">

                                <div class="single-post tm30">
                                    <article class="post type-post">
                                        <div class="post-thumbnail">
                                            <img src="/images/services/Geckodashboard.png" alt="Post Thumbnail">
                                        </div><!-- /.post-thumbnail -->


                                        <div class="post-content-box">
                                            <h4 class="entry-title text-center">Railboard - Welcome to your business</h4>
                                            <h5 style="font-size:14px;" class="entry-title text-center">
                                            <a style="padding:4px;color:orangered"  href="https://railgunit.geckoboard.com/dashboards/32D5C7366273647C">OVERVIEW BOARD</a>
                                                <a style="padding:4px" href="https://railgunit.geckoboard.com/dashboards/98255AE171FFB479">SITE 1 </a>
                                                <a style="padding:4px" href="https://railgunit.geckoboard.com/dashboards/1FA7235230A69299">SITE 2</a>
                                                <a style="padding:4px" href="https://railgunit.geckoboard.com/dashboards/6E646628FA44EFCD">SITE 3</a>
                                                <a style="padding:4px" href="https://railgunit.geckoboard.com/dashboards/6CB0598E60F77E32">SITE 4</a>                                            
                                            </h5>                                             
                                           
                                         
                                            <div class="post-meta-box">

                                                <div class="entry-meta text-center">
                                                    <span class="entry-date">
                                                        <time datetime="@DateTime.Now">@DateTime.Now </time>
                                                    </span>
                                                    <span class="category">
                                                        <a href="#"> <i class="fa fa-tags"></i>BI, Real-Time Reporting</a>
                                                    </span>
                                                    @* <span class="comments-link">
                                                            <a href="#"><i class="fa fa-comments"></i> 12 Comments</a>
                                                        </span>*@
                                                </div><!-- /.entry-meta -->
                                            </div><!-- /.post-meta-box -->

                                            <div class="stripe-bfixw"></div>

                                            <div class="entry-content">
                                                <p>
                                                    Off the back of our incredible successes for <a href="http://railgunit.co.uk/Home/Project?ProjectId=9">Grind and Co</a> and <a href="http://railgunit.co.uk/Home/Project?ProjectId=11">InterResolve</a> , Railgun.it have decided to launch the Railboard! Our mission is to deliver an affordable solution that allows you to harness the full power of being plugged in to your numbers all day, everyday, WHILE they're happening - because we all know hindsight is 20/20 but ultimately unfortunately useless.
                                                    <br /><br />
                                                    Railboard uses the power of Railgun.it's custom built PoS integrations with the widgets and availabilty of Geckobord to let floor staff, executive managers and the boardroom know exactly where the business stands, at any time, 7 days a week, 24 hours a day. Defining your own custom comparison metrics (or simply using the ones we've built based on previous customer preferences), you can monitor the business as a whole, site by site, or drill down into exactly how many of a particular product group you've sold that day in a particular store - all delivered to desktop, web-enabled smartphone or directly via the iPhone app.
                                                    <br /><br />
                                                    Railboard can plug into ANY existing PoS or till provider as long as they have a Customer API and we already working in-house with some of the biggest to make the product even better  - Revel, EPOSNow among them. If you understand the value that full oversight and visability of your live numbers can bring as a staff motivational tool, monitoring system, stragetic planner and want to start harnessing that value, talk to us now and take up our offer of a free consultation!
                                                    <br /><br />
                                                    Whether you're selling wedding dresses, fish and chips, microchips or cups of coffee, Railboard is the high-business visability tool your business really can't afford to be without. Talk to Railgun.it about Railboard and let us put your data to work today!
                                                </p>
                                                <div class="btn-container">
                                                    <a class="read-more btn md-btn full-btn" href="#">Sign Up<i class="fa fa-long-arrow-right"></i> </a>
                                                </div>
                                            </div><!-- /.entry-content -->
                                        </div><!-- /.post-content-box -->

                                    </article><!-- /.type-post -->
                                </div><!-- /.single-post -->
                            </div><!-- /.col-md-12 -->


                        </div><!-- /.post-container -->
                    </div><!-- /.row -->
                </div><!-- /#primary-area  -->
            </div>

            <div class="col-md-4">
                <div class="stripe-full bm50">
                    <h4 class="stripe-over stripe-blue tm0">
                        Features Breakdown - <span>Railboard</span>
                    </h4>
                </div><!-- /.stripe-full -->


                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="fa-desktop collapsed">
                                    Integrates with your PoS System
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                Whether your provider is Revel, EPOS Now, NCR or something else, as long as they support customer acccess via web service (contact us for other solutions), we can hook you up a Railboard.
                            </div>
                        </div>
                    </div><!-- /.panel -->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="fa-bolt">
                                    Desktop and App
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Railboard can be used accross the business - for motivating staff on the floor, for line mangers as a montitoring tool, for strategic planners and in the boardroom.
                            </div>
                        </div>
                    </div><!-- /.panel -->


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="fa-wrench collapsed">
                                    Custom Metrics And Comparisons
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                You can define custom metrics and comparisons across the board - so you get the data YOU want to see.
                            </div>
                        </div>
                    </div><!-- /.panel -->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="fa-star collapsed">
                                    Live updates, 24 hours a day, 7 days a week
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                Railboard is always on. If you work from at 6am or you're more of a night own - we've got you covered. 
                            </div>
                        </div>
                    </div><!-- /.panel -->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="fa-eye collapsed">
                                    Full business hours web support
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                Whether you've got an issue, or you want a hand figuring out how to use your data best, Railboard support are here to help you out.
                            </div>
                        </div>
                    </div><!-- /.panel -->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSiz" class="fa-google collapsed">
                                    Special Rates For Small Businesses
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSiz" class="panel-collapse collapse">
                            <div class="panel-body">
                                If you're a small business (>2 stores ) come and talk to us about special pricing.
                            </div>
                        </div>
                    </div><!-- /.panel -->


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" class="fa-support collapsed">
                                    Other Integrations Available
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body">
                                We can hook up railboard to pretty much anything - if you have an idea about always-on data you want to see, drop us line now!
                            </div>
                        </div>
                    </div><!-- /.panel -->


                </div><!-- /.panel-group -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

